.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  display: inline-block !important;
  background: #d42990 !important;
  padding: 10px 16px !important;
  border-radius: 10px !important;
  margin-top: 20px !important;
  font-weight: 500 !important;
}
